<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
 If you want to get in touch with the creator of this
  website, or have a question about what you've seen here, visit
  our other website at <a href="http://deepbluecave.com/">deepbluecave.com</a>
</p>